.navbar-header .navbar-brand{
    color: #fff;
}
.main-container{
    margin-top: 100px;
    margin-bottom: 50px;
    min-height: 400px;
}

.main-container h1{
    font-size: 28px;
    margin: 20px 0;
}

/* fix bootstrap <a dotted link */
a,
a:hover,
a:active,
a:visited,
a:focus {
    outline: none;
    outline: 0;
}

.tab-content{
    margin-top: 20px;
}

hr{
    border-color: #ddd;
}

table tr:hover{
    background-color: #f5f5f5;
}

.panel-default .panel-body{
    display: table;
}

.panel-default .panel-body p{
    display: table-cell;
    vertical-align: middle;
}


.custom-btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 8px 20px;
    text-decoration: none;
    border: none;
}

.custom-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#tab-four .panel-default .order-row span:first-of-type{
    border-right: 1px solid #ddd;
    display: inline-block;
    font-weight: bold;
    min-width: 150px;
}

#tab-four .panel-default .order-row span:nth-child(2){
    padding-left: 15px;
}

.order-container h3{
    margin-left: 20px;
}


.order-row{
    border-bottom: 1px solid #ddd;
    margin: 0 40px;
}

.order-row:hover{
    background-color: #f5f5f5;
}

.order-container{
    margin: 30px 0;
}

.demo .class-error{
    color: #d43f3a;
}

.demo h3{
    font-size: 20px;
    font-weight: normal;
    margin-top: 40px;
}

